
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= link_to "edit", edit_bookshelf_path(@bookshelf) %>
      <h1 class="text-center"><%= current_user.username.capitalize %>'s books on <em>'<%= @bookshelf.name %>'</em> shelf</h1>

      <p class="text-center"><%= @bookshelf.description %></p><br>
      <% @bookshelf_items.each do |item| %>
        <% mybook = Book.find(item.book_id) %>
        <ul class="container">
        <li class="list-group-item"><%= link_to mybook.title, book_path(mybook.id) %>
        <!-- <small>status: <%= item.status %></small> -->
        <!-- start form for status -->
        <label class="mdb-main-label test-centered">status</label>
          <select class="mdb-select md-form">
            <option value="to read"><%= link_to 'to read', bookshelf_bookshelf_item_path(bookshelf_id: item.id, book_id: item.book_id), class: "dropdown-item" %></option>

            <option value="reading"><%= link_to 'reading', bookshelf_bookshelf_item_path(bookshelf_id: item.id, book_id: item.book_id), class: "dropdown-item" %></option>
            <option value="completed"><%= link_to 'completed', bookshelf_bookshelf_item_path(bookshelf_id: item.id, book_id: item.book_id), class: "dropdown-item" %></option>
          </select>

          <!-- end form-->
        <p class="text-right"><small><%= link_to 'delete', bookshelf_bookshelf_item_path(item.id), method: :delete %></small></p>
        </li>
        </ul>
        <% end %>
      <%= link_to 'Back', bookshelves_path %>
    </div>
  </div>
</div>
