<h1>Profiles</h1>
<% if @profile.nil? %>
<p>Please search for a valid username</p>
<% end %>
<div>
<%= form_tag profiles_path, method: :get do %>
<%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a user"
  %>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
<% if @profile.nil? %>
<% else %>
<div class="card-product position-relative">
  <% if @profile.photo.attached? %>
  <div class="card-product-img"> <%= cl_image_tag(@profile.photo.key, :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :radius=>"0", :crop=>"crop"},
            {:width=>140, :crop=>"scale"}
            ]) %>
  </div>
  <% end %>
  <div class="card-product-infos">
        <%= link_to "", @profile, class: "stretched-link" %>
        <p><strong>Username:</strong> <%=  @profile.user.username %></p>
        <p>
          <strong>About me:</strong>
          <%= @profile.about %><br>
          <strong>Language:</strong>
          <%= @profile.user.preferred_language %>
        </p>
  </div>
</div>
<% end %>

<% if false %>
<small>
    <div class="table-responsive-md">
        <table class="table table-bordered">
            <thead>
                <% if @profile.nil? %>
                <% else %>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">About</th>
                    <th scope="col">Preferred language</th>
                    <th scope="col">See profile</th>
                    <th scope="col">Edit profile</th>
                    <th scope="col">Delete profile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= @profile.first_name %>
                    </td>
                    <td>
                        <%= @profile.last_name %>
                    </td>
                    <td>
                        <%= @profile.user.city %>
                    </td>
                    <td>
                        <%= @profile.user.email %>
                    </td>
                    <td>
                        <%= @profile.user.username %>
                    </td>
                    <td>
                        <%= @profile.about %>
                    </td>
                    <td>
                        <%= @profile.user.preferred_language %>
                    </td>
                    <td>
                        <%= link_to 'See', @profile %>
                    </td>
                    <% if @profile.user == current_user %>
                    <td>
                        <%= link_to 'Edit', edit_profile_path(@profile) %>
                    </td>
                    <td>
                        <%= link_to 'Delete', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</small>
<% end %>
