<div class="container">
  <div class="border-top">
    <% if current_user.id == params[:id].to_i %>
    <div class="text-center"><%= link_to 'Edit my profile', edit_profile_path(@profile), class: "btn btn-primary m-3" %></div>
    <% else %>
    <div class="text-center"><%= link_to 'Befriend', friendships_path(receiver_id: @profile), method: :post, class: "btn btn-primary m-3" %></div>
    <% end %>
    <h5 class="text-center mt-3"><%= @profile.user.username.capitalize %>'s profile</h5>
    <div class="row justify-content-center">
      <div class="col-9">
          <div class="card-profile">
            <div class="container">
               <% if @profile.photo.attached? %>
              <div class="text-center m-3"><%= cl_image_tag(@profile.photo.key, :transformation=>[
                {:width=>400, :height=>400, :gravity=>"face", :radius=>"0", :crop=>"fill"},
                {:width=>160, :crop=>"scale"}
                ]) %>
              </div>
          <% end %>
          <div class="text-sm-left text-md-left text-lg-justify">
        <p><strong>Username: </strong><%= @profile.user.username %><br>
         <strong>Email: </strong><%= @profile.user.email %><br>
         <strong>Language: </strong><%= @profile.user.preferred_language.capitalize %>
        </p>
        <p>
          <strong>About me: </strong>
          <%= @profile.about %><br>
        </p>
        <% if current_user.id == params[:id].to_i %>
          <% @pending_friendships.each do |p| %>
          <p>
            <%= p.receiver.username %>
            <%= link_to 'Accept', friendship_accept_path(p), method: :post  %>
          </p>
        <% end %>
        <% end %>
        <div class="text-center"><%= link_to 'Back to user search', profiles_path, class: "btn btn-primary mt-3" %></div>
      </div>
    </div>
  </div>
</div>

