<div class="container">
  <div class="border-top">
    <% if current_user.id == params[:id].to_i %>
    <div class="text-center"><%= link_to 'Edit my profile', edit_profile_path(@profile), class: "btn btn-primary m-3" %></div>
    <% else %>
    <% end %>
    <div class="row justify-content-center">
      <div class="col-12">
        <% if @profile.photo.attached? %>
          <div class="text-center m-3"><%= cl_image_tag(@profile.photo.key, :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :radius=>"0", :crop=>"crop"},
            {:width=>160, :crop=>"scale"}
            ]) %>
          </div>
          <% end %>
          <strong>First Name:</strong>
          <%= @profile.first_name.capitalize %>
        </p>

        <p>
          <strong>Last Name:</strong>
          <%= @profile.last_name.capitalize %>
        </p>
        <p>Username:
         <%= @profile.user.username %><br>
         City:
         <%= @profile.user.city %><br>
         email:
         <%= @profile.user.email %>
        </p>

        <p>
          <strong>About me:</strong>
          <%= @profile.about %><br>
          Language:
          <%= @profile.user.preferred_language %>
        </p>
        <div class="text-center"><%= link_to 'Back to user search', profiles_path, class: "btn btn-primary mt-3" %></div>
      </div>
    </div>
  </div>
</div>

<div class="card-product">
  <% if @profile.photo.attached? %>
  <div class="card-product-img"> <%= cl_image_tag(@profile.photo.key, :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :radius=>"0", :crop=>"crop"},
            {:width=>140, :crop=>"scale"}
            ]) %>
  </div>
  <% end %>
  <div class="card-product-infos">
    <p>
          <%= @profile.first_name.capitalize %>
        </p>

        <p>
          <%= @profile.last_name.capitalize %>
        </p>
        <p>Username:
         <%= @profile.user.username %><br>
         City:
         <%= @profile.user.city %><br>
         email:
         <%= @profile.user.email %>
        </p>
        <p>
          <strong>About me:</strong>
          <%= @profile.about %><br>
          Language:
          <%= @profile.user.preferred_language %>
        </p>
  </div>
</div>
