<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "nounbook.png" %>
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.profile %>
            <% if current_user.profile.photo.attached? %>
            <%= cl_image_tag current_user.profile.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
            <%= cl_image_tag("uFQctjvkbeZAyAL8TySgyfPB", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
          <% end %>
          <small class="navuser"><%= current_user.username.capitalize %></small>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Bookshelves", bookshelves_path, class: "dropdown-item" %>
            <%= link_to "Messages", "#", class: "dropdown-item" %>
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <% if current_user.profile %>
            <%= link_to "My profile", "profiles/#{current_user.profile.id}", class: "dropdown-item" %>
            <% else %>
            <%= link_to "Create profile", "profiles/new", class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
