<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <div class="card-product">
          <h6><%= @book.title %></h6>
        <div class="card-product-flex">

        <div class="card-product-img" >
        <%= image_tag @book.image %>
        </div>
        <div class="card-product-infos">
          <p>By <%= @book.author %></p>
          <!-- start - this is a dropdown list for MyBookshelves -->
          <div class="dropdown show mt-3">
            <a class="btn btn-sm btn-primary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add to bookshelf</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <% if signed_in?  %>
                <small>
                <form class="dropdown-item" action="/bookshelves/new" method="get">
                <%= hidden_field_tag :book, @book.id %>
                <input type="submit" value="Create a new bookshelf">
                </form>
                </small>
                <% current_user.bookshelves.each do |bookshelf| %>
                  <%= link_to bookshelf.name.capitalize, bookshelf_bookshelf_items_path(bookshelf_id: bookshelf, book_id: @book), class: "dropdown-item", method: :post %>
                <% end %>
              <% end %>
            </div>
          </div>
          <!-- end dropdown-->
          <%= render 'reviews/average', book: @book %>
          <p>Genre: <%= @book.genre.capitalize %></p>
          <p>Language: <%= @book.language.capitalize %></p>
          <p>Country: <%= @book.country.capitalize %></p>
        </div>
        </div>
        <p id="big-justify"><%= @book.description %></p>
      </div>

      <br>
      <%= render 'reviews/form', book: @book %>
      <br>
      <div class="container review">
        <h6 class= "text-center">Reviews</h6>
        <div id="allreviews">
        <% if @book.reviews.any? %>
          <div id="reviews">
            <% @book.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
            <% end %>
          </div>
        </div>
        <% end %>
        </div>
      </div>
      <%= link_to "Back to all books", books_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>
